python-docx==1.1.0
groq==0.5.0
annoy==1.17.3
sentence_transformers==2.7.0
torch==2.3.0
huggingface-hub==0.17.3
numpy==1.26.4
pillow==10.3.0
scikit-learn==1.4.2
transformers==4.34.0
beautifulsoup4==4.12.3